.dropdown {
  position: relative;
  font-weight: 500;
  &:hover, &:focus, &:active {
    & > .dropdown__toggle {
      background-color: $gray-bg-color;
    }
    & > .dropdown__menu {
      display: block;
    }
  }
}

.dropdown__toggle {
  background-color: #fff;
  text-transform: uppercase;
  font-size: rem(14);
  line-height: 2.28;
  font-weight: 500;
  padding: rem(26 36 24 16);
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: rem(15);
    top: 50%;
    width: rem(12);
    height: rem(8);
    transform: translateY(-50%);
    background: url('../img/chevron.svg') no-repeat;
    background-size: cover;
  }
}

.dropdown__menu {
  display: none;
  background: $gray-bg-color;
  padding: rem(32) 0;
  position: absolute;
  z-index: 4;
  top: 100%;
  right: 0;
  border-bottom-right-radius: rem(12);
  border-bottom-left-radius: rem(12);
  min-width: rem(168);
}

.dropdown__item {
  padding: 0 rem(36);
  a {
    display: block;
    line-height: 1.7;
  }
  &:not(:last-child) {
    margin-bottom: rem(10);
  }
}

@media (max-width: 868px) {
  .dropdown__toggle {
    font-size: rem(12);
  }
}
