.order-call {
  background: $blue;
  padding: rem(108) 0 rem(96);
  h2 {
    color: #fff;
    margin-bottom: rem(36);
  }
  .call-btn {
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .order-call {
    padding: rem(60) 0;
  }
}
